# Build folders
build/
dist/

# NetBeans private files
nbproject/private/

# Java compiled files
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# VS Code settings
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store